select {
    padding: .6rem;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2)0px 2px 8px 0px;
    outline: none;
}

select::-ms-expand {
    display: none;
}

select option {
    outline: none;
    letter-spacing: 1.2px;
    font-weight: 400;
    font-size: 15px;
}

.selected {
    display: none;
}